# Ambiente virtual
venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*.pyo

# Banco de dados local
*.db

# Arquivos do sistema
.DS_Store

# Arquivos de IDE
.vscode/
.idea/

# Variáveis de ambiente
.env
